<div class="col-8">
    <div class="row">
        <div class="col-4 mt-5 section-banner">
            <h1 class="text-light title mb-5">Adventure Together</h1>
            <p class="text-light mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Placerat id potenti faucibus nec, rhoncus, vulputate vitae. Dictum rutrum ut cras nullam porta id dolor arcu, quis.</p>
        </div>
        <div class="col-8">
            <div>
                <img class="" src="../../../assets/images/Vectary texture (1).png">
            </div>
            <div>
                <img class="math" src="../../../assets/images/Vectary texture.png" />
            </div>
        </div>
    </div>
</div>