.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 79px;
}
.section-banner{
    position: relative;
    left: 8vw;
    top: 4vh;
}
.math{
   
    position: relative;
    top: -45vh;
    right: 5vw;
    z-index: 99999;
}