
     
      <div class="container-fluid">
        <ul class="nav justify-content-end  mb-4">
            <li class="nav-item mt-4"><a class="nav-link text-light">Home</a></li>
            <li class="nav-item mt-4"><a class="nav-link text-light">About</a></li>
            <li class="nav-item mt-4"><a class="nav-link text-light">Gallery</a></li>
            <li class="nav-item mr-5 mt-4"><a class="nav-link text-light">Contact</a></li>
            <li class="nav-item mt-4 mr-4 ml-4">
              <a lass="navbar-brand">
                <img src="../../../assets/images/icon.png" />
              </a>
            </li>
        </ul>
      </div>
