<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-2 sidebar d-none d-xl-block d-xxl-block">
            <ul>
                <li><a class="test-light">Facebook</a></li>
                <li><a class="test-light">Insta</a></li>
                <li><a class="test-light">Tw</a></li>
            </ul>
        </div>
        <app-banner></app-banner>
    </div>
</div>