.sidebar{
    border-right: #fff solid;
    height: 101vh;
    max-height: 1080px;
    width: 15vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: -6%;
}
ul{
    list-style: none;
}